.container__header {
  width: 100%;
  height: 120px;
}

.header__layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header__headline {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  height: 60px;
}

.header__headline--info {
  width: 623px;
  display: flex;
  justify-content: space-between;
}

.header__headline--info--item {
  height: 60px;
  display: flex;
  align-items: center;
}

.icon__info--item {
  font-size: 30;
  margin-right: 10px;
}

/* Header Nav */

.header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  background-color: #1f2b6c;
  color: white;
}

.layout__header--nav {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  height: 60px;
}

.header__list--nav {
  width: 493px;
  display: flex;
}

.header__nav--appoinment {
  width: 223px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__btn--appointment {
  color: #1f2b6c;
  width: 173px;
  height: 45px;
  background-color: #bfd2f8;
  border-radius: 30px;
}
