.container__content--appointment {
  width: 100%;
  height: auto;
  background-color: red;
}

.content__banner--appointment {
  width: 100%;
  height: 250px;
  background-image: url("./images/Content__Header__Appointment.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.content--form--appointment {
  display: flex;
  margin-top: 38px;
  margin-bottom: 38px;
  width: 100%;
  height: 650px;
  background-color: blue;
  align-items: center;
  justify-content: center;
}

.layout__content--submit--form--appointment {
  width: 1102px;
  height: 650px;
  background-color: green;
}
