.container__content--home {
  position: absolute;
}

.content__btn--future--item {
  display: flex;
  justify-content: center;
  align-items: ;
  color: white;
  width: 316px;
  height: 100px;
  background-color: #1f2b6c;
}
