.container__footer {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: 1F2B6C;
}

.container__layout--footer {
  width: 1100px;
  height: 363px;
  background-color: green;
}
