.container__contact {
  display: flex;
  width: 100%;
  justify-content: center;
}

.container__layout--contact {
  width: 1100px;
  height: 363px;
  background-color: blue;
}

.content__list--contact {
  display: flex;
  justify-content: space-between;
}

.content__list--contact > li{
    
}

.contact--item {
  width: 233px;
  height: 233px;
  background-color: #bfd2f8;
}

.contact__item--icon {
  width: 40px;
  height: 38px;
}
