.container__content--service--banner {
  width: 100%;
  height: 250px;
  background-image: url("./images/Content__Header__Services.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  box
}
